body{
  font-size:40px;
	margin:2px 2px;
}

.texto{
	display:inline-flex;align-content:center;justify-content: center;
}

.lecontainer img{
	width:50%;
	height: 50%;
}

.lecontainer{
  display: inline-flex;
  align-content: center;
  justify-content: center;
  width:100%;

}

.lecontainer div,h2,p{
	margin:0px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Dancing Script', cursive;
}

.button {
  border:0;
  width:100px;
  height:50px;
  border-radius: 0.3rem;
  background:linear-gradient(#4f0c4d, #00feff);
  color: white;
  font-family:'Dancing Script',cursive,arial,cursive;
  font-size:25px;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.button:hover{
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	width:150px;

}
