body{
	font-size: 22px;
	margin:2px 2px;
}

.lecontainer img{
	width:50%;
	height: 50%;
}

.lecontainer{
  display: inline-flex;
  align-content: center;
  justify-content: center;
  font-family: 'Poiret One', cursive;font-weight: bold;
  width:100%;

}

.lecontainer div,h2,p{
	margin:0px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

