body{
    margin:3px;
}

.headota{
    display: inline-flex;
    width: 100%;
    align-items: flex-end;
    border-bottom: 1px solid black;
    box-shadow:  0px 3px 5px #888888;
}

.headota img{
    width:40%;
    height:auto;
    padding:8px;
}

.unito{
    width:auto;
    align-items: center;
    display:flex;
}

.lista{
    display: inline-flex;
    width:100%;
    justify-content: space-around;
}
.lista a{
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    padding:0px 20px;
    font-family: 'Caviar Dreams','Arial';
    font-size: 20px;
    transition: all .2s ease-in-out;
}

.lista a:hover{
    background-color:#C2D139;
    border-radius: 5px 5px 0px 0px;
}

@media only screen and (max-width: 560px){
    .headota{display:block;}
    .unito{justify-content: center;}
    .lista a{padding:0px 3px;}
    }

}
