body{
    margin:3px;
    height: 100%;
}

.headota{
    display: inline-flex;width: 100%;align-items: flex-end;box-shadow:  0px 3px 5px #888888;
}


.myTitle{
  display:inline-flex;justify-content: center;width: 100%;
}


.headota img{
    width:40%;height:auto;padding:8px;
}

.unito{
    width:auto;align-items: center;display:flex;
}

.lista{
    display: inline-flex;width:100%;justify-content: flex-end;
}
.lista a{
    text-decoration: none;display: inline-flex;justify-content: space-between;padding:0px 20px;
    font-family: 'Pompiere', cursive,'Arial';font-size: 32px;transition: all .2s ease-in-out;
}

.lista a:hover{
    background-color:#C2D139;border-radius: 8px 8px 0px 0px;
}

.titles{
  font-family: 'Roboto Condensed', sans-serif,'Arial';font-size: 35px;
  margin:30px 0px 5px 0px;
}

@media only screen and (max-width: 560px){
    .headota{display:block;}
    .unito{justify-content: center;}
    .lista{justify-content:center;}
    .lista a{padding:0px 15px;}
    }

}

.container1{
  display:block; 
}
/* Slideshow container */
.slideshow {
  position: relative;max-width: 1000px;min-width: 250px;margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev {
  user-select: none;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  top:50%;
  margin-top: -22px;
  color:#fff;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  user-select: none;
  z-index: 1;
  right:0;
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  top:50%;
  margin-top: -22px;
  color:#fff;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.6s ease;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;font-size: 15px;padding: 8px 12px;
  position: absolute;bottom: 8px;width: 100%;text-align: center;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.parallax{
  background-image:url('images/landscape1.jpg');
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elfoter{
  display: block;
  text-align: center;
}
